.about-me {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 5rem 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.about-me::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-image: url('../../img/images/background-about-me.png');
    background-size: cover;
    background-position: center;
    z-index: -2; 
  }

.about-info {
    width: 792px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-info span {
    display:grid;
    grid-template-columns: auto auto;
}

.about-contact {
    display: flex;
    flex-direction: row;
    background-color: var(--glass-color);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
}

.about-contact-ind {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.about-contact-icon {
    background-color: var(--accent);
    padding: 0.4rem;
    display: flex;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.about-contact-icon svg {
    color: var(--text-color);
}

.about-contact-txt p {
    color: var(--accent);
}