

.bu {
    font-size: var(--botao);
    line-height: var(--botao-line);
    color: var(--accent);
    padding: 0.5rem 1.5rem;
    width: 90px;
    transition: all 0.3s ease;
  }

  .type1 {
    border: 2px solid var(--accent);
    background-color: transparent;
  }

  .type2 {
    border: 2px solid var(--accent);
    background-color: transparent;
    width: 35%;
  }
  
  .type1:hover {
    background-color: var(--accent);
    color: var(--text-color);
  }
  