header {
    background-color: var(--glass-color);
    backdrop-filter: blur(2px);
    border: 1px solid var(--border-color);
    padding: 0.40rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 2rem;
    max-width: 40rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
