.projects {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.projects-container-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

}

.projects-container-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

}

.project-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    background-color: var(--glass-color);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    align-items: center;
}

.project-card img {
    width: 90%;
    margin: 1rem;
    border-radius: 10px;
    
}