.projects {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.projects-container-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

}

.projects-container-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

}

.project-card img {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    background-color: var(--glass-color);
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    transition: 0.25s ease;
    
}

.project-card img:hover {
    border-radius: 10px;
}